@import"vars";
@import"global";
@import"_fonts";
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 15px 0;
}
.pre-header{
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    height: 25px;
    margin-top: -8px;
}
.pre-header-news{
    padding-right: 10px;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
}
.pre-header-block{
    width: 2px;
    height: 15px;
    background-color: #000;
    margin-right: 13px;
    margin-top: 3px;
}
.pre-header-shiping{
    padding-left: 10px;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
}
.header-navigation{
    float: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    width: 201px;
    padding-top: 14px;
    a{
        padding: 5px 10px;
        background-color: #222222;
        border-radius: 5%;
        color: #fff;
        text-decoration: none;
    }
}
.header-autorization{
    float: right;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    padding-top: 14px;
    width: 213px;
    display: block ruby;
    margin-top: -30px;
}
.header-autorization-reg{
    padding-left: 5%;
}
.header-logo{
    text-align: center;
    font-size: 36px;
    font-family: "Roboto-Regular", sans-serif;
}
.header-navigation-he{
    padding-left: 5%;
}
.pre__order-inner{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
  margin-right: 5%;
  padding: 0%;
  img{
      width: 445px;
      height: 445px;
  }
  }
  .pre__order-content{
    text-align: center;
    margin-top: 40px;
  }
  .pre__order-subtitle{
      width: 470px;
     margin-left: 28%;
     font-size: 16px;
     font-family: "Roboto-Regular", sans-serif;
     transform: translate(0px 120%);
     opacity: 0;
     transition: all 3.5s ease 0s; 
     &._active{
        transform: translate(0px 0px);
        opacity: 1;  
     }
  }
  .pre__order-title{
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;
    transform: translate(0px 120%);
    opacity: 0;
    transition: all 1.5s ease 0s; 
  }
  .pre__order-title._active{
    transform: translate(0px 0px);
    opacity: 1;
  }
  .pre__order-title-anime{
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;  
  }
  .new-colection{
      padding: 100px 0;
  }
  .colection{
      text-align: center;
      font-size: 24px;
      font-family: "Roboto-Regular", sans-serif;
      padding-bottom: 50px;
  }
  .colection__inner{
      display: flex;
      justify-content: space-between;
      padding: 0 10%;
    }
.colection__item{
    height: 335px;
    width: 205px;
    //из за ширины могут картинки криво отображаться
    &-title{
        font-family: "Times_new_roman";
        font-weight: 700;
        font-size: 14px;
        margin-top: 10px;
    }
    &-price{
        font-family: "Helvetica";
        font-weight: 500;
        margin-top: 15px;
    }
}
.gid__title{
    text-align: center;
      font-size: 24px;
      font-family: "Roboto-Regular", sans-serif; 
      padding-bottom: 10px;
      &-subtitle{
        text-align: center;
        font-size: 16px;
        font-family: "Roboto-Regular", sans-serif;  
        padding-bottom: 20px;  
      } 
}
.triend__title{
    text-align: center;
      font-size: 24px;
      font-family: "Roboto-Regular", sans-serif;
      padding-bottom: 50px;
      font-weight: 700;
      transform: translate(0px 120%);
      opacity: 0;
      transition: all 3.5s ease 0s;
      &._active{
        transform: translate(0px 0px);
        opacity: 1;
      }
      &-subtitle{
        text-align: center;
        font-size: 16px;
        font-family: "Roboto-Regular", sans-serif;
        padding-bottom: 50px;
        font-weight: 500;
      }
}
.trend__inner{
    display: flex;
    justify-content: space-between;
    padding: 0 9%;
}
.trend__item-title{
    font-family: "Times_new_roman";
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
   
}
.trend__item-price{
    font-family: "Helvetica";
    font-weight: 500;
    margin-top: 15px;
} 

.trend__item-title{
    font-family: "Times_new_roman";
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    }
      .swaip__item-subtitle{
        font-family: "Times_new_roman";
        font-weight: 500;
        font-size: 14px;
        margin-top: 10px;
        height: 35px;
      }
//swiper start
.swiper__title{
    padding-top: 100px;
    text-align: center;
      font-size: 24px;
      font-family: "Roboto-Regular", sans-serif;
      padding-bottom: 20px;
      font-weight: 700;
      &-subtitle{
        text-align: center;
        font-size: 16px;
        font-family: "Roboto-Regular", sans-serif;
        padding-bottom: 50px;
        font-weight: 500;
      }
}
.catalog-container{
    width: 800px;
}
.item-container{
    display: flex;
    justify-content: center;
}
.swaip__item{
    margin-right: 11%;
margin-left: 1%;
}
.catalog-item{
list-style: none;
}
.swaip__item{
    height: 375px;
    margin-right: 5%; 
}
.swiper-button-prev{
    color: #000;
    margin-left: 3%;
}
.trend__item-subtitle{
    height: 34px;
    width: 200px;   
    font-family: "Times_new_roman";
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}
.swiper-button-next{
color: #000;
}
//swiper end
//for he start
.he__order-inner{
    display: flex;
    justify-content: space-between;
    padding: 0%;
}
.trend__item-subtitle-new{
    font-family: "Times_new_roman";
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    width: 165px;
    height: 35px;
}
//for he end
//footer start
.footer-item{
    background-color: #222222;
    height: 310px;
    }
    .footer-list{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        li{
            list-style: none;
        }
    }
    .footer-title{
      font-size: 20px;
      font-family: bebas;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
     
    }
    .footer-subtitle{
      width: 263px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: helvetica;
  text-align: left;
    }
    .footer-card{
        margin-top: 40px;
    }
    .bloc-left{
     
      background-color: rgba(232, 102, 60, 0.502);
      width: 220px;
      height: 310px;
  position: absolute;
    }
    .bloc-right{
      background-color: rgba(232, 102, 60, 0.502);
      width: 220px;
      height: 310px; 
      position: absolute;
      margin-left: 85%;
    }
    .footer-link{
      color: rgb(243, 178, 157);
    }
    .footer__copy {
        background: #e6e6e6;
    }
    
    .footer__copy-text {
        text-align: center;
        font-size: 15px;
        color: #000;
        padding: 25px 0;
    }
    .btn-log{
        background-color: #D3E2EB;
    padding: 5px 15px;
    border-radius: 5%;
      }
    .block{
        width: 50px;
        height: 50px;
        background-color: aqua;
    
    }
    .nav_out{
        position: absolute;
    margin-left: 1043px;
    margin-top: -86px;
    padding: 10px 20px;
    background-color: #222222;
    border-radius: 5%;
    }