.list{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
.list__info{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 40px;   
}
button{
    margin-bottom: 20px;
    width: 70px;
    height: 30px;
    background-color: black;
    color: #fff;
}
.nav_out{
    position: absolute;
margin-left: 1043px;
margin-top: -86px;
padding: 10px 20px;
background-color: #222222;
border-radius: 5%;
}
.tosite{
    position: absolute;
text-decoration: none;
font-size: 18px;
color: #111;
margin-left: 3%;
margin-top: -82px;
}
